.navbar-start{
    text-decoration: none;
}

.btn-primary{
    text-decoration: none;
}

.container{
    display: flex;
    flex-wrap: inherit;
    align-items: center;
    justify-content: space-between;
}